@model Endpoint

@{
    ViewData["Title"] = "Edit";
}


<form asp-action="Create">

    <label asp-for="Name"></label>
    <input asp-for="Name" />

    <label asp-for="Description"></label>
    <input asp-for="Description" />

    <label asp-for="Uri"></label>
    <input asp-for="Uri" />

    <input type="submit" value="Save" />
</form>